 {% extends 'base.html' %}
{% block content %}
{% load static %}

      <!-- Page Content -->
      <div class="page-heading about-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>о нас</h4>
                <h2>Наша Компания</h2>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="best-features about-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Наша История</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image" data-aos="fade-right">
                <img src="{% static 'assets/images/feature-image.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content" data-aos="fade-left" data-aos-duration="2000">
                <h4>Кто мы и чем мы занимаемся?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/?lang=ru"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://ru.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.behance.net/onboarding/adobe"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="team-members">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Члены Нашей Команды</h2>
              </div>
            </div>
            {% for human in employee %}
              <div class="col-md-4">
                <div class="team-member" data-aos="fade-up" data-aos-duration="1500">
                  <div class="thumb-container">
                    <img src="{{ human.image.url }}" alt="">
                    <div class="hover-effect">
                      <div class="hover-content">
                        <ul class="social-icons">
                          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://twitter.com/?lang=ru"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://ru.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="https://www.behance.net/onboarding/adobe"><i class="fa fa-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                    <h4>{{ human.name }}</h4>
                    <span>{{ human.position }}</span>
                    <p>{{ human.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>


      <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service-item" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="icon">
                  <span><img class="avatar avatar-xxl mr-2" src="{% static 'assets/images/about_3.jpg' %}" width="100px" alt="img"></span>
                </div>
                <div class="down-content">
                  <h4>Our Collabirations</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
<!--                  <a href="#" class="filled-button">Read More</a>-->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item" data-aos="zoom-in-up">
                <div class="icon">
                  <span><img class="avatar avatar-xxl mr-2" src="{% static 'assets/images/about.jpg' %}" width="150px" alt="img"></span>
                </div>
                <div class="down-content">
                  <h4>Our Designers</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
<!--                  <a href="#" class="filled-button">Details</a>-->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item" data-aos="zoom-in-up">
                <div class="icon">
                  <span><img class="avatar avatar-xxl mr-2" src="{% static 'assets/images/about_2.jpg' %}" width="150px" alt="img"></span>
                </div>
                <div class="down-content">
                  <h4>Our Delivery</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
<!--                  <a href="#" class="filled-button">Read More</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="happy-clients">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Партнеры</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-clients owl-carousel">
                <div class="client-item">
                  <img src="{% static 'assets/images/111.jpg' %}" alt="1">
                </div>

                <div class="client-item">
                  <img src="{% static 'assets/images/222.jpg' %}" alt="2">
                </div>

                <div class="client-item">
                  <img src="{% static 'assets/images/333.jpg' %}" alt="3">
                </div>

                <div class="client-item">
                  <img src="{% static 'assets/images/444.jpg' %}" alt="5">
                </div>

                <div class="client-item">
                  <img src="{% static 'assets/images/555.jpg' %}" alt="5">
                </div>

                <div class="client-item">
                  <img src="{% static 'assets/images/666.jpg' %}" alt="6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
