<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Sixteen Clothing HTML Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/comment.css' %}">

  </head>

  <body>
<!--    <div id="preloader">-->
<!--      <div class="jumper"></div>-->
<!--    </div>-->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <span class="text">{{ request.user }}</span>
          <a class="navbar-brand" href="{% url 'home' %}"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Главное
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Наши Продукты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
              </li>
              {% if user.is_active %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}">Корзина</a>
                </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
                  </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
      <div class="wrapper">
        <div class="full-screen">
            <div class="full-screen__body">
                <div class="full-screen__title">SIXTEEN</div>
                <div class="full-screen__text">clothing</div>
            </div>
            <video autoplay muted loop preload="auto" class="full-screen__video">
                <source type="video/mp4" src="{% static 'love.mp4' %}">
            </video>
        </div>
        <div class="content">
            <div class="content__container">
                <div class="latest-products">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2  style="font-size: 35px">Coming soon</h2>
                          <a href="{% url 'products' %}">view all products <i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                      {% for product in product_list %}
                        <div class="col-md-4">
                          <div class="product-item " data-aos="fade-up" data-aos-duration="2000" style="width: 365px">
                            <img src="{{ product.image.url }}" alt="">
                            <a href="#" class="badge-corner" style="position: absolute;top: 0;right: 0;width: 0;height: 0;border-top: 66px solid #f33f3f;order-top-color: rgba(0, 0, 0, 0.3);border-left: 66px solid transparent;padding: 0;background-color: transparent;border-radius: 0;">
                              <span class="fa fa-star" style="position: absolute;top: -52px;left: -28px;font-size: 16px;color: #fff;"></span>
                            </a>
                            <div class="down-content">
                              <a><h4>{{ product.title }}</h4></a>
                              <h6>${{ product.price }}</h6>
                              <p>{{ product.sub_title }}</p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="best-features">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2>О Sixteen Clothing</h2>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="left-content" data-aos="fade-right" data-aos-duration="2000">
                          <h4>Ищете лучшие продукты?</h4>
                          <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
                          <ul class="featured-list">
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur an adipisicing elit</a></li>
                            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                            <li><a href="#">Corporis, omnis doloremque</a></li>
                            <li><a href="#">Non cum id reprehenderit</a></li>
                          </ul>
                          <a href="{% url 'about' %}" class="filled-button">Read More</a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="right-image animate__animated animate__fadeInRight">
                          <img src="{% static 'assets/images/feature-image.jpg' %}" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="call-to-action">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="inner-content" data-aos="zoom-in-up">
                          <div class="row">
                            <div class="col-md-8">
                              <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                            </div>
                            <div class="col-md-4">
                              <a href="#" class="filled-button">Purchase Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </body>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
</html>