 {% extends 'base.html' %}
{% block content %}
{% load static %}
      <!-- Page Content -->
      <div class="page-heading products-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>new arrivals</h4>
                <h2>sixteen products</h2>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <ul>
                  <li class="active" data-filter="*">All</li>
                  <li data-filter=".des">Outwear</li>
                  <li data-filter=".dev">Pants</li>
                  <li data-filter=".gra">Shoes</li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
                <div class="filters-content" data-aos="fade-up" data-aos-duration="2000">
                    <div class="row grid">
                      {% for products in product_list %}
                        {% if products.group == "outwear" %}
                          <div class="col-lg-4 col-md-4 all des">
                              <div class="product-item">
                                <a href="#"><img src="{{ products.image.url }}" alt=""></a>
                                <div class="down-content">
                                  <a href="#"><h4>{{ products.title }}</h4></a>
                                  <h6>${{ products.price }}</h6>
                                  <p>{{ products.sub_title }}</p>
                <!--                  <ul class="stars">-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                  </ul>-->
                                  <div class="review">
                                    <a href="{% url 'product_detail' products.id %}" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Детальный обзор</a>
                                  </div>
                                </div>
                              </div>
                          </div>
                        {% elif products.group == "pants" %}
                          <div class="col-lg-4 col-md-4 all dev">
                            <div class="product-item">
                              <a href="#"><img src="{{ products.image.url }}" alt=""></a>
                              <div class="down-content">
                                <a href="#"><h4>{{ products.title }}</h4></a>
                                <h6>${{ products.price }}</h6>
                                <p>{{ products.sub_title }}</p>
              <!--                  <ul class="stars">-->
              <!--                    <li><i class="fa fa-star"></i></li>-->
              <!--                    <li><i class="fa fa-star"></i></li>-->
              <!--                    <li><i class="fa fa-star"></i></li>-->
              <!--                    <li><i class="fa fa-star"></i></li>-->
              <!--                    <li><i class="fa fa-star"></i></li>-->
              <!--                  </ul>-->
                                <div class="review">
                                  <a href="{% url 'product_detail' products.id %}" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Детальный обзор</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% elif products.group == "shoes" %}
                            <div class="col-lg-4 col-md-4 all gra">
                              <div class="product-item">
                                <a href="#"><img src="{{ products.image.url }}" alt=""></a>
                                <div class="down-content">
                                  <a href="#"><h4>{{ products.title }}</h4></a>
                                  <h6>${{ products.price }}</h6>
                                  <p>{{ products.sub_title }}</p>
                <!--                  <ul class="stars">-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                    <li><i class="fa fa-star"></i></li>-->
                <!--                  </ul>-->
                                  <div class="review">
                                    <a href="{% url 'product_detail' products.id %}" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Детальный обзор</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                </div>
            </div>
            <nav class="list-num">
              <ul class="pagination justify-content-center">
                {% for i in paginator.page_range %}
                  <li class="page-item {% if i == page_number %} active {% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{i}}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
  <!--          {% if page_obj.has_other_pages %}-->
  <!--            <nav class="list-num">-->
  <!--              <ul>-->
  <!--                {% if page_obj.has_previous %}-->
  <!--                  <li class="page-num">-->
  <!--                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>-->
  <!--                  </li>-->
  <!--                {% endif %}-->
  <!--                {% for p in paginator.page_range %}-->
  <!--                  {% if page_obj.number == p %}-->
  <!--                    <li class="page-num page-num-selected">{{ p }}</li>-->
  <!--                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}-->
  <!--                    <li class="page-num">-->
  <!--                      <a href="?page={{ p }}">{{ p }}</a>-->
  <!--                    </li>-->
  <!--                  {% endif %}-->
  <!--                {% endfor %}-->

  <!--                {% if page_obj.has_next %}-->
  <!--                  <li class="page-num">-->
  <!--                      <a href="?page={{ page_obj.next_page_number }}">&gt;</a>-->
  <!--                  </li>-->
  <!--                {% endif %}-->
  <!--              </ul>-->
  <!--            </nav>-->
  <!--          {% endif %}-->
          </div>
        </div>
      </div>
{% endblock %}
