<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sixteen Clothing HTML Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/comment.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
<!--    <div id="preloader">-->
<!--        <div class="jumper">-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--        </div>-->
<!--    </div>  -->
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Главное</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Наши Продукты
                    <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
              </li>
                {% if user.is_active %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart' %}">Корзина</a>
                    </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
                      </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="row">
        <div class="col-md-12 wrapper wrapper-content animated fadeInRight">
            <div class="ibox card">
                 <div class="card-header">
                    <h3 class="card-title">Items in your cart</h3>
                    <div class="card-options ">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12 col-lg-5">
                                <div class="cart-product-imitation">
                                    <img src="{{ product.image.url }}" width="500px" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-7">
                                <div class="card-body p-5">
                                    <h3 class="product_title"><a class="text-navy h2 font-weight-semibold mr-1">{{ product.title }}</a></h3>
                                    <p class="small_2">{{ product.sub_title }}</p>
                                    <h4 class="product_label">Состав:</h4>
                                    <p class="small">{{ product.composition }}</p>
                                    <h4 class="product_label">Модел и образ:</h4>
                                    <p class="small">{{ product.model }}</p>
                                    <dl class="small m-b-none">
                                        <dt>Описание:</dt>
                                        <dd>{{ product.description }}</dd>
                                    </dl>
                                    <h2 class="price" style="font-weight: bold">${{ product.price }}</h2>
                                    {% if user.is_active %}
                                        <button  type="button" class=" btn btn-pill btn-danger" data-toggle="modal" data-target="#myModal{{ product.id }}"><i class="fa fa-cart-plus"></i>Add to cart</button>
                                            <form action="{% url 'order' product.id %}" method="post">
                                            {% csrf_token %}
                                                <div class="modal fade" id="myModal{{ product.id }}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" style="margin-top: 100px">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="myModalLabel" style="font-size: 20px; font-weight: bold; font-family: system-ui;">Продукт {{ product.id}}</h5>
                                                                <button class="close" data-bs-dismiss="modal">x</button>
                                                            </div>
                                                            <div class="modal-body">
        <!--                                                        <h6 class="text-center">ID Продукта {{ product.id }}</h6>-->
        <!--                                                        <label class="form-label_1", style="font-weight: bold">ID Продукта</label>-->
        <!--                                                         <input name="id" type="number" value="{{ product.id }}">-->
                                                                <label class="form-label_1", style="font-weight: bold">Количество</label>
                                                                <div class="number">
                                                                    <span class="minus">-</span>
                                                                    <input name="count" type="text" value="1"/>
                                                                    <span class="plus">+</span>
                                                                </div>
                                                                <label class="form-label_1", style="font-weight: bold">Размер</label>
                                                                <input name="size" type="text">
                                                            </div>
                                                            <div class ="modal-footer">
                                                                <button type="submit" class="btn btn-danger">Добавить</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            {% else %}
                                                <h4  style="margin-top: 25px;color: darkred;font-size: 15px">Авторизуйтесь для добавления в корзину</h4>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-lg-5">
                                        <div class="card-body p-5">
                                            {% if user.is_active %}
                                                <form action="{% url 'add_review' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label class="form-label">Коментарии</label>
                                                        {{form.text}}
                                                    </div>
                                                    <button class="btn-outline-dark"><i class="fa fa-comments-o"></i>Отправить</button>
                                                </form>
                                                {% else %}
                                                    <div class="card_comment" style="width: 600px">
                                                        <div class="card-header">
                                                            <h3 class="card-title" style="font-weight: bold; font-size: 20px; font-family: cursive; align-items: center;">Коментарии</h3>
                                                            <div class="card-options">
                                                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                                <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="card-alert alert alert-danger mb-0">
                                                            <h4 class="comment_else">Что бы оставить комментарий авторизуйтесь</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <a href="{% url 'login' %}" style="align-items: center">Авторизация</a>
                                                        </div>
                                                    </div>
    <!--                                                    <h4 class="comment_else">Что бы оставить комментарий авторизуйтесь</h4>-->
    <!--                                                    <button class="btn-outline-primary" type="submit">Авторизация</button>-->
                                            {% endif %}
                                            <div class="list">
                                                {% for comment in product.comments_set.all %}
                                                <h7 class="comment">{{ comment.user }}</h7>
                                                <p class="comment-text">{{ comment.text }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>-->

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script>
        $('#myModal').modal(toggle);
    </script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script>
        $(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var btn = document.getElementById("myBtn");

        btn.addEventListener("click", function() {
            var myModal = new bootstrap.Modal(document.getElementById("myModal"));
            myModal.show();
        });
    });
    </script>
  </body>

</html>

